:root {
    --fonte-base: 'Open Sans', sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --cor-1: #b08968;
    --cor-2: #7f5539;
    --cor-3: #3d291b;
    --cor-4: #e6ccb2;
}

body {
    overflow-y: scroll;
    font-family: var(--fonte-base);
}


nav {
    height: 5em;
    font-family: var(--fonte-destaque);
    background-color: var(--cor-1) !important;
}

footer {
    height: 7em;
    font-family: var(--fonte-destaque);
    background-color: var(--cor-1);
    color:#3d291b;
}
