:root {
    --fonte-base: 'Open Sans', sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --cor-1: #b08968;
    --cor-2: #7f5539;
    --cor-3: #3d291b;
    --cor-4: #e6ccb2;
    --cor-5: #e7d9cb;
}