<!DOCTYPE html>
<html lang="pt-br">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/img/logo_colorida.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet">
        <!--  -->
        <link rel="stylesheet" href="static/css/style_cadastro.css">
        <title>Tokaki</title>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
</head>

<body class="body_cadastro">
    <div class="fundo">
        <div class="mosaico">
            <img src="/static/img/mosaico/img15.jpg" alt="">
            <img src="/static/img/mosaico/img17.jpg" alt="">
            <img src="/static/img/mosaico/img21.jpg" alt="">
            <img src="/static/img/mosaico/img22.jpg" alt="">
            <img src="/static/img/mosaico/img23.jpg" alt="">
            <img src="/static/img/mosaico/img24.jpg" alt="">
            <img src="/static/img/mosaico/img25.jpg" alt="">
            <img src="/static/img/mosaico/img26.jpg" alt="">
            <img src="/static/img/mosaico/img27.jpg" alt="">
            <img src="/static/img/mosaico/img28.jpg" alt="">
            <img src="/static/img/mosaico/img29.jpg" alt="">
            <img src="/static/img/mosaico/img30.jpg" alt="">
            <img src="/static/img/mosaico/img31.jpg" alt="">
            <img src="/static/img/mosaico/img15.jpg" alt="">
            <img src="/static/img/mosaico/img17.jpg" alt="">
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card formulario">
                        <div class="card-body">
                            <center>
                                <img src="/static/img/logo_colorida.png" alt="" height="110px">
                            </center>


                            <h2 class="text-center mb-1">CRIE SUA CONTA</h2>
                            <h5 class="text-center subtitulo">Acesse um universo de músicas e eventos</h5>

                            <div class="imagens-login">
                                <img src="/static/img/google-icon.png" alt="" height="70px" class="rounded-circle border border-dark border-1">
                                <img src="/static/img/facebook-logo.png" alt="" height="70px">
                            </div>
                            <div class="d-flex align-items-center my-3">
                                <hr class="flex-grow-1">
                                <span class="mx-4">OU</span>
                                <hr class="flex-grow-1">
                            </div>
                            <form method="POST" action="/cadastro">
                                <div class="mb-3">
                                    <h1 class="titulo-form mt-2">Escolha o tipo de usuário</h1>
                                    <div class="check">
                                        <div>
                                            <input class="form-check-input" type="radio" name="radioDefault"
                                                id="radioDefault1" >
                                            <label class="form-check-label ms-2" for="tipo_usuario">
                                                Desejo contratar serviços musicais
                                            </label>
                                        </div>
                                        <div>
                                            <input class="form-check-inputm" type="radio" name="radioDefault"
                                                id="radioDefault1">
                                            <label class="form-check-label ms-2" for="tipo_usuario">
                                                Sou músico
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="nome" class="titulo-form">Nome Completo</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex: José Silva"  required>
                                </div>
                                <div class="mb-3">
                                    <label for="nome" class="titulo-form">Nome de Usuário</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="usuarioexemplo" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="titulo-form">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@email.com" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="titulo-form">CPF</label>
                                    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="xxx.xxx.xxx-xx" required>
                                </div>
                                <div class="mb-3">
                                    <label for="telefone" class="titulo-form">Telefone</label>
                                    <input type="text" class="form-control" id="telefone" name="telefone" placeholder="(xx) xxxxx-xxxx" required>
                                </div>
                                <div class="mb-3">
                                    <label for="data_nascimento" class="titulo-form">Data de Nascimento</label>
                                    <input type="date" class="form-control" id="data_nascimento" name="data_nascimento"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="senha" class="titulo-form">Senha</label>
                                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite uma senha" required>
                                </div>
                                <div class="mb-3">
                                    <label for="senha" class="titulo-form">Confirmar Senha</label>
                                    <input type="password" class="form-control" id="confirmação_senha" name="senha" placeholder="Confirme sua senha"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <center>
                                        <label for="recaptcha" class="form-label"></label>
                                        <div class="g-recaptcha"
                                            data-sitekey="6LfGoG0rAAAAAJo_Yr9NdQiRFHT3vtAzajB8sC1N"></div>
                                    </center> <br>
                                </div>
                                <button type="submit" class="btn w-100 botao">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<footer>
    <div class="container text-center mt-5 text">
        <p class="text-muted">© 2025 Tokaki. Todos os direitos reservados.</p>
</footer>