<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/logo_colorida.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="static/css/public/style_fundo_login_cadastro.css">
    {% block head %}
    {% endblock %}
    <title>Tokaki</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body class="body_cadastro">
    <div class="fundo">
        <div class="mosaico">
            <img src="/static/img/mosaico/img15.jpg" alt="">
            <img src="/static/img/mosaico/img17.jpg" alt="">
            <img src="/static/img/mosaico/img21.jpg" alt="">
            <img src="/static/img/mosaico/img22.jpg" alt="">
            <img src="/static/img/mosaico/img23.jpg" alt="">
            <img src="/static/img/mosaico/img24.jpg" alt="">
            <img src="/static/img/mosaico/img25.jpg" alt="">
            <img src="/static/img/mosaico/img26.jpg" alt="">
            <img src="/static/img/mosaico/img27.jpg" alt="">
            <img src="/static/img/mosaico/img28.jpg" alt="">
            <img src="/static/img/mosaico/img29.jpg" alt="">
            <img src="/static/img/mosaico/img30.jpg" alt="">
            <img src="/static/img/mosaico/img31.jpg" alt="">
            <img src="/static/img/mosaico/img15.jpg" alt="">
            <img src="/static/img/mosaico/img17.jpg" alt="">
        </div>
    </div>
    {% block conteudo %}
    {% endblock %}
    <footer>
        <div class="container text-center mt-5 text">
            <p class="text-muted">© 2025 Tokaki. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>