{% extends "/public/navbar_footer.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/public/style_sobre.css">
{% endblock %}
{% block conteudo %}
<div class="container_imagem_topo">
    <img src="/static/img/mosaico/img10.jpg" alt="" class="imagem_topo">
</div>
<div class="container">
    <h1 class="my-5 animar-scroll">Sobre o Tokaki</h1>
    <div class="row h-auto">
        <div class="col-6 h-auto">
            <img src="/static/img/sobre.jpg" alt="" class="img-sobre animar-scroll">
        </div>
        <div class="col h-auto">
            <h2>O que somos?</h2> <br>
            <p class="fs-5">
              Mais do que um simples marketplace, o Tokaki reúne em um só espaço a contratação de artistas para eventos, o agendamento de aulas de música e a interação entre perfis que podem resultar em parcerias e colaborações criativas. A plataforma foi pensada para ser intuitiva e acolhedora, permitindo que professores ofereçam aulas de forma organizada, que alunos encontrem facilmente os profissionais ideais para seu aprendizado e que contratantes tenham acesso direto a músicos com portfólios completos, avaliações e recomendações.
            </p>
        </div>
    <h2>O que somos?</h2>
</div>
{% endblock %}
{% block scripts%}
<script src="/static/js/sobre.js"></script>
{% endblock%}