{% extends "/public/fundo_login_cadastro.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/public/style_verificacao.css">
{% endblock %}
{% block conteudo %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card formulario">
        <div class="card-body px-5">
          <center>
            <a href="/"><img src="/static/img/logo_colorida.png" alt="" height="110px"></a>
          </center>
          <h2 class="text-center mb-1">VALIDE SEU EMAIL</h2>
          <h5 class="text-center subtitulo">Enviamos um código para o seu email cadastrado. Insira-os a seguir:</h5>

          <form method="POST" action="/cadastro" id="form-cadastro" class="mt-3">
            {% set first_error_set = false %}
            <div class="d-flex justify-content-center gap-2">
              <input type="text" class="form-control text-center otp-input" maxlength="1">
              <input type="text" class="form-control text-center otp-input" maxlength="1">
              <input type="text" class="form-control text-center otp-input" maxlength="1">
              <input type="text" class="form-control text-center otp-input" maxlength="1">
              <input type="text" class="form-control text-center otp-input" maxlength="1">
              <input type="text" class="form-control text-center otp-input" maxlength="1">
            </div>

            <center>
              <button type="submit" id="submit-button" class="btn w-50 botao fs-3 mt-4">Cadastrar</button>
            </center>

            <hr>

            <center>
              <p class="d-inline fs-5">Já tem uma conta?</p>
              <a href="/login" class="fs-5">Entrar</a>
              <p class="aviso-final mt-4">
                Ao continuar, você concorda com os <a href="">Termos de Serviço</a> do Tokaki e confirma
                que leu nossa <a href="">Política de Privacidade</a>. Aviso na coleta de informações
              </p>
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}