:root {
  --fonte-base: 'Open Sans', sans-serif;
  --fonte-destaque: 'Bebas Neue', sans-serif;
  --cor-1: #b08968;
  --cor-2: #7f5539;
  --cor-3: #3d291b;
  --cor-4: #e6ccb2;
  --cor-5: #212529;
  --cor-6: #af3e51;
}

body {
  font-family: var(--fonte-destaque);
}

select {
  font-family: var(--fonte-base);
}

hr {
  color: var(--cor-2);
}

a {
  color: var(--cor-5);
}

a:hover {
  opacity: 0.8;
}

.body_cadastro {
  margin: 0;
  background-color: var(--cor-3);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fundo {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.mosaico {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  width: 120%;
  height: 120%;
  animation: mover 30s linear infinite alternate;
  filter: blur(2px) brightness(0.95);
}

/* Imagens */
.mosaico img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  transform: rotate(-5deg);
}

/* Movimento suave */
@keyframes mover {
  0% {
    transform: translate(-5%, -5%);
  }

  100% {
    transform: translate(-10%, -10%);
  }
}

.subtitulo {
  font-family: var(--fonte-base);
  font-size: 1em;
  color: var(--cor-1);
  text-align: center;
  margin-top: 0;
}

.check {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulo-form {
  font-family: var(--fonte-destaque);
  font-size: 1.2em;
}

.imagens-login {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.formulario {
  background-color: white;
  font: var(--fonte-base);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-control {
  font-family: var(--fonte-base);
}

.botao {
  font-family: var(--fonte-destaque);
  color: var(--cor-4);
  background-color: var(--cor-2);
}

.botao:hover {
  background-color: var(--cor-1);
  color: var(--cor-3);
}


.form-check-input:checked {
  background-color: var(--cor-1);
  border-color: var(--cor-1);
}

.form-check-label {
  font-family: var(--fonte-base);
}

.erro-mensagem {
  font-family: var(--fonte-base);
  color: var(--cor-6);
  /* Força sobrescrever Bootstrap */
  font-size: 0.85em;
  margin-top: 15px;
}


#strengthBarContainer {
  display: flex;
  width: 75%;
  max-width: auto;
  height: 0;
  /* barra escondida inicialmente */
  overflow: hidden;
  /* esconde conteúdo */
  border-radius: 5px;
  background-color: #ddd;
  margin-top: 5px;
  transition: height 0.3s;
}

#strengthBarFill {
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.3s, background-color 0.3s;
  background-color: red;
}

#strengthText {
  display: block;
  font-family: var(--fonte-base);
  font-size: 1em;
  margin-top: 5px;
}